<a href="https://colab.research.google.com/github/dan9133/Basic_Summary_of_Python/blob/main/Module_101_Python_notes_Week2_Day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **String Manipulation**

- Strings are sequences of character data. The string type in Python is called str

In [ ]:
String_1 = "New Delhi"

In [ ]:
type(String_1)

str

## **Indexing and Slicing in python for strings**

- Indexing in python starts from 0
- Forwarding indexing from 0
- Backward indexing from -1
- Use [ ] to select a character

![image.png]()

In [ ]:
# How to select a character
Day = "SATURDAY"
Day[5]
# Please select second A
# Please select first A
Day[-2]
Day[1]

## **String Manipulation Methods**

### **Strings Concatenation**

In [ ]:
# print("Swaraj" + '5')
Part1 = "New" # assigining New to Part 1
Part2 = "Delhi" # assigning Delhi to Part 2

In [ ]:
print(Part1 + Part2)

NewDelhi

In [ ]:
print(Part1 + " " + Part2)

New Delhi

In [ ]:
Part1 = "New "
Part2 = " Delhi"
print(Part1 + Part2)

New Delhi

In [ ]:
name = "Sachin"
age = 50
print(name + " is " + age + " years old")   # error as only str to str concatenation is possible not int

In [ ]:
print('{} is {} years old'.format(name, 50))

Sachin is 50 years old

In [ ]:
a = 5
b = 5
c = a + b
# addition of a and b is c
print('additon of {} and {} is {}'.format(a, b, c))

additon of 5 and 5 is 10

In [ ]:
Name = "Sachin"
Age = 50
# Sachin is 50 years old.
print('{} is {} years old'.format(Name, Age))

Sachin is 50 years old

### **Repeat a string**

In [ ]:
word = "New Delhi " *  5
print(word)

New Delhi New Delhi New Delhi New Delhi New Delhi

### **Checking length of a string**

- Use len( )

In [ ]:
# Here we want to check the length of both strings
Part1 = "New "
Part2 = "Delhi"
# Concatenate them first logically and then check the length
print(Part1 + Part2)
len(Part1 + Part2)

#print(Part1 + Part2)
#print(len(Part1 + Part2))

New Delhi

9

### **Replace Part of a String**

- replace( )

In [ ]:
Number = '12,500'
type(Number)

str

In [ ]:
Number_new = int(Number.replace(',', ''))
print(Number_new)
type(Number_new)

12500

int

### **Counting any characters**

- count( )

In [ ]:
Week_2 = "Today is, your second week, of data science course"
Week_2.count('s')

4

### Splitting

`split()`	- Splits the string at the specified separator, and returns a list \
`splitlines()`	- Splits the string at line breaks and returns a list

In [ ]:
str1 = "Sandeep Kumar Singh"

In [ ]:
spl= str1.split(" ") # split is used to split words in the string. We can use other separtors also.
spl

['Sandeep', 'Kumar', 'Singh']

In [ ]:
str2 = '''
This is DS16 batch.

We are learning python.

Python is not tough
'''

In [ ]:
m= str2.splitlines() # splitline is used to split lines in the string
m

['',
 'This is DS16 batch.',
 '',
 'We are learning python.',
 '',
 'Python is not tough']

In [ ]:
str3 = 'This is DS16 batch. We are learning python. \nPython is not tough.'
print(str3)

This is DS16 batch. We are learning python.
Python is not tough.

In [ ]:
str3 = 'This is DS16 batch.\nWe are learning python.\n\nPython is not tough.' # \n & \t are escape characters
print(str3)

This is DS16 batch.
We are learning python.

Python is not tough.

### Stripping (remove spaces and characters)
`lstrip()` - Returns a left trim version of the string \
`rstrip()` - Returns a right trim version of the string \
`strip()` -	Returns a trimmed version of the string

In [ ]:
str1 = " Name is enough "
str1.strip() # removes any leading (spaces at the beginning) and trailing (spaces at the end) characters

'Name is enough'

In [ ]:
str1.lstrip() # removes any leading characters (space is the default leading character to remove)

'Name is enough '

In [ ]:
str1.rstrip() # removes any trailing characters (characters at the end a string), space is the default trailing character to remove

' Name is enough'

In [ ]:
# Practice question
str1 = "AGCTCGATGGTTCCAACGCGCGC@@@@@@@"
str2 = str1.rstrip('@')
print(str2)

AGCTCGATGGTTCCAACGCGCGC

### String Casing
`capitalize()`	Converts the first character to upper case\
`lower()`	Converts a string into lower case\
`upper()`	Converts a string into upper case\
`title()` Converts first letter in each word into upper case

In [ ]:
Sent = "data science is a good course to learn."
Sent.capitalize() # Converts the first character to upper case

'Data science is a good course to learn.'

In [ ]:
str1 = Sent.upper() # Converts a string into upper case
str1

'DATA SCIENCE IS A GOOD COURSE TO LEARN.'

In [ ]:
str1.lower() #  Converts a string into lower case

'data science is a good course to learn.'

In [ ]:
Sent.title()

'Data Science Is A Good Course To Learn.'

### String Character Checking
`endswith()`	Returns true if the string ends with the specified value\
`startswith()`	Returns true if the string starts with the specified value\

In [ ]:
str1 = "data science is a good course to data learn."
str1.endswith(".") # method returns True if the string ends with the specified value, otherwise False.

True

In [ ]:
str1.startswith("data") # method returns True if the string starts with the specified value, otherwise False.

True

### String Searching
`find()` -	Searches the string for a specified value and returns the first position of where it was found

In [ ]:
str1.find('to') # Searches the string for a specified value and returns the first position of where it was found

30

### **String Joining**
`join()` -	Joins the elements one by one with a given string

In [ ]:
a = "Sandeep "
'Singh '.join(a)

'SSingh aSingh nSingh dSingh eSingh eSingh pSingh  '

### **Alphanumeric characters**
- `isalnum()` to check if a string only contains alphanumeric characters (alphabets and numbers)

In [ ]:
word = 'DS16'
print(word.isalnum())

True

In [ ]:
word = 'DS 16'
print(word.isalnum())

False

### **Empty string**

In [ ]:
# The pythonic way to check if a string is empty is using the not operator.
my_string = ''
if not my_string:
  print("My string is empty!!!")

My string is empty!!!

In [ ]:
my_string = 'amazon, microsoft'
if not my_string:
  print("My string is NOT empty!!!")

https://www.freecodecamp.org/news/python-string-manipulation-handbook/

# Data Structures

## Sequence types
- A sequence is an ordered collection of items
- The word ordered there is important
- If a sequence was not ordered, you couldn't refer to individual items by their index position.

https://docs.python.org/3/library/stdtypes.html#sequence-types-list-tuple-range

- Four common built in data structures are **list, tuples, dictionary and sets**
- Similar to file container use to store data. For example: DS ID may contain many information.
- Different files may have different way to store the data. For example: excel, csv, json

## List

## Properties of a list
1. Denoted by **[ ]** and seperated by **,**
2. Ordered data structures
3. Allow all the data types and duplicates and can also contain other data structures also
4. Mutable (Can we change it or not)
5. Can be accessed by index

### Order

In [ ]:
a = [5, 7, 8, 9] # List a
b = [5, 8, 7, 9] # List b

In [ ]:
a == b # comparing a and b if they are equal or not

True

- An ordered collection of objects.
- Order is maintained lifetime
- List containing same elements in different orders are not same

In [ ]:
a is b # is and is not are identity operators
# Returns True if both variables are the same object

False

In [ ]:
a is not b
# Returns True if both variables are not the same object

True

In [ ]:
a = [] # empty list or as many as computer memory allows

### Different data types

In [ ]:
DS001 = ["Sandeep", 25, "Graduate", True, 76.5, 76.5] # Name, age, education, IT/NonIT, Python marks
DS001

['Sandeep', 25, 'Graduate', True, 76.5, 76.5]

In [ ]:
type(DS001)

list

### Index

In [ ]:
# Check education of DS001
DS001[3:]

[True, 76.5, 76.5]

### Mutable

In [ ]:
# The person is only undergraduate
DS001[2] = "Under Graduate"

In [ ]:
DS001

['Sandeep', 25, 'Under Graduate', True, 76.5, 76.5]

 #### Membership operators

In [ ]:
'Sandeep' in DS001 # Returns True if a sequence with the specified value is present in the object

True

In [ ]:
'sandeep' not in DS001 # Returns True if a sequence with the specified value is not present in the object

True

### Practice
- Create list using your own information

### Type casting

In [ ]:
Virat_score = 52, 17, 59, 60, 32
Virat_score

(52, 17, 59, 60, 32)

In [ ]:
type(Virat_score)

tuple

In [ ]:
Virat_score = list(Virat_score)
Virat_score

[52, 17, 59, 60, 32]

In [ ]:
type(Virat_score)

list

### Accessing list

1- Access only your marks

2- Access everything from list

3- Access only last element

4- Access only name, education and python marks

### Creating list

In [ ]:
import random
rand_number = [random.randint(1, 10) for i in range(10)]
rand_number

[1, 4, 10, 10, 4, 4, 1, 6, 2, 6]

In [ ]:
type(rand_number)

list

In [ ]:
range(10)

range(0, 10)

In [ ]:
new_list = list(range(10)) # start by default is 0
new_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
new_list = list(range(1, 10, 2)) # start position, end position and steps)
new_list

[1, 3, 5, 7, 9]

In [ ]:
#List len() function
list1 = [10,20,30,40,50]
print(len(list1))

In [ ]:
#list count()
list1 = [10,20,30,40,10]
num = 10
res1 = list1.count(num)
print(res1)

In [ ]:
#List insert()
thislist = [1,2,3]
thislist.insert(1, 7)
print(thislist)

In [ ]:
#List remove()
thislist = [7,9,10]
thislist.remove(10)
print(thislist)

In [ ]:
#List del()
list1 = [10,20,30,50]
del list1[0]
print(list1)

In [ ]:
#List sort()
list1 = [1,5,4,7,5,9]
list1.sort()
print(list1)

In [ ]:
#List reverse() Method
list1 = [1,2,3,4,3]
list1.reverse()
print(list1)

### Methods in a list

- These are some in-built functions with pre-defined behaviours
- for example sum, len etc
- These functions may not work with any other data structures

https://www.w3schools.com/python/python_ref_list.asp

## Tuples()

1- Immutable

2- Ordered data

3- All data types

4- Duplicates

5- Denoted by ()

https://www.w3schools.com/python/python_tuples.asp#:~:text=%2C%20%22cherry%22)-,Tuple,which%20is%20ordered%20and%20unchangeable.

In [ ]:
DS001 = "Sandeep", 25, "Graduate", True, 76 # Name, age, education, IT/NonIT, Python marks
DS001

('Sandeep', 25, 'Graduate', True, 76)

In [ ]:
type(DS001)

tuple

In [ ]:
DS001 = ("Sandeep", 25, "Graduate", True, 76) # Name, age, education, IT/NonIT, Python marks
DS001

('Sandeep', 25, 'Graduate', True, 76)

In [ ]:
type(DS001)

tuple

In [ ]:
DS001[2]

'Graduate'

### Immutable

In [ ]:
DS001[2] = "PhD"

TypeError: ignored

### Indexing inside tuples

### Methods in tuples

In [ ]:
# count, index
a = (1, 2, 2, 3, True, "Sandeep", 1)
a.count(2)

2

In [ ]:
b = list(a)
type(b)

list

In [ ]:
a.index("Sandeep")

5

In [ ]:
DS001 = DS001 * 3 # Basic mathematics are possible
DS001

('Sandeep',
 25,
 'Graduate',
 True,
 76,
 'Sandeep',
 25,
 'Graduate',
 True,
 76,
 'Sandeep',
 25,
 'Graduate',
 True,
 76)

In [ ]:
DS001 = DS001+ 25
DS001

TypeError: ignored

# Sets

- denoted {}
- unordered
- no duplicates
- Boolean is not allowed
- Mutable

https://note.nkmk.me/en/python-set/
https://www.w3schools.com/python/python_sets.asp

In [ ]:
DS001 = {"Sandeep", 25, True, "PhD", 52.5} # Name, age, education, IT/NonIT, Python marks
print(DS001)

{True, 'Sandeep', 'PhD', 52.5, 25}

In [ ]:
A = {1, 3, 2, 2.5, "Python", 2, True}
A

{1, 2, 2.5, 3, 'Python'}

In [ ]:
DS001

{25, 52.5, 'PhD', 'Sandeep', True}

- Boolean is excluded
- Unordered

In [ ]:
DS001

{25, 76, 'Graduate', 'Sandeep', True}

In [ ]:
type(DS001)

set

In [ ]:
DS001[2]

TypeError: 'set' object is not subscriptable

In [ ]:
DS005 = {"Sandeep", 2, 0.5, "PhD", True}
DS005
#DS005[3] = "Grad" # replacing values are not possible

{0.5, 2, 'PhD', 'Sandeep', True}

In [ ]:
DS005.add("Eng")

In [ ]:
DS005

{0.5, 2, 'Eng', 'PhD', 'Sandeep', True}

### Creating sets

In [ ]:
# Create a set using random import
# Create a set using range
# Create a list and convert it into set

In [ ]:
a = set(range(10))
a

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
b = set(range(6, 15))
b

{6, 7, 8, 9, 10, 11, 12, 13, 14}

In [ ]:
b.difference(a) # to see the different values in 2 different sets
# values of a not present in b

{10, 11, 12, 13, 14}

In [ ]:
a.difference(b) # to see the different values in 2 different sets
# values of b not present in a

{0, 1, 2, 3, 4, 5}

In [ ]:
a.intersection(b)# inner join basically means common values

{6, 7, 8, 9}

In [ ]:
intersect = a & b
intersect

{6, 7, 8, 9}

In [ ]:
a_1 = {1, 1.5, "Python", True, 28}

In [ ]:
type(a_1)

set

In [ ]:
a_1

{1, 1.5, 28, 'Python'}

In [ ]:
a_1.remove(28) # remove and discard functions are same
a_1

{1, 1.5, 'Python'}

In [ ]:
a_1.discard("Python")
a_1

{1, 1.5}

In [ ]:
abc = {1, 2, 3, 4}
bcd = {2, 3, 5, 6}

In [ ]:
abc.union(bcd)

{1, 2, 3, 4, 5, 6}

In [ ]:
uni = abc | bcd

In [ ]:
uni

{1, 2, 3, 4, 5, 6}

# Dictionary {key:value}

## Properties of dictionary

1- Mapping based, pairwise element

2- Unorder data structure

3- All data types

4- Override the duplicates

5- Mutable value, keys are immutable and no duplicates for keys

https://www.w3schools.com/python/python_dictionaries.asp

In [ ]:
DS001 = {"Name": "Sandeep", "Age": 25, "Education": "Graduate", "IT background": False, "Score": 76} # Name, age, education, IT/NonIT, Python marks
DS001

{'Age': 25,
 'Education': 'Graduate',
 'IT background': False,
 'Name': 'Sandeep',
 'Score': 76}

In [ ]:
type(DS001)

dict

In [ ]:
# Unordered cannot access anything using indexing
DS001[2]

KeyError: ignored

In [ ]:
# Override the duplicates
DS001 = {"Name": "Sandeep", "Age": 25, "Education": "Graduate", "IT background": False, "Score": 79, "Score": 78} # Name, age, education, IT/NonIT, Python marks
DS001

{'Age': 25,
 'Education': 'Graduate',
 'IT background': False,
 'Name': 'Sandeep',
 'Score': 78}

Score is now 78, 78 override the 76

In [ ]:
# It is mutable
DS001["Education"] = "PhD"
DS001

{'Age': 25,
 'Education': 'PhD',
 'IT background': False,
 'Name': 'Sandeep',
 'Score': 78}

In [ ]:
# We can remove last itme using popitem function
DS001.popitem()

('Score', 78)

In [ ]:
DS001

{'Age': 25, 'Education': 'PhD', 'IT background': False, 'Name': 'Sandeep'}

In [ ]:
DS001["Stats background"] = "Yes"

In [ ]:
DS001

{'Age': 25,
 'Education': 'PhD',
 'IT background': False,
 'Name': 'Sandeep',
 'Stats background': 'Yes'}

In [ ]:
test_dict = {1:'aakash',2:'kumar',3:'Bihar',4:'piro'}
#print(test_dict.items())
#print(test_dict.items())
for k, v in test_dict.items():
  print(k," ",v)

### Create a dictionary

In [ ]:
Student_ID = ["DS001", "DS002", "DS003"]
Student_Edu = ["PhD", "Grad", "Under Grad"]

In [ ]:
list(zip(Student_ID, Student_Edu)) # zip function merge them based on index

[('DS001', 'PhD'), ('DS002', 'Grad'), ('DS003', 'Under Grad')]

In [ ]:
diction = {}
for i, j in zip(Student_ID, Student_Edu):
    diction[i] = j

In [ ]:
diction

{'DS001': 'PhD', 'DS002': 'Grad', 'DS003': 'Under Grad'}

### Accessing dictionaries

- It is unorderd so we cannot use index
- Only way to use keys

In [ ]:
DS001["Education"]

'PhD'

In [ ]:
DS001["Education"] = "Grad"
DS001

{'Age': 25,
 'Education': 'Grad',
 'IT background': False,
 'Name': 'Sandeep',
 'Stats background': 'Yes'}

### Method in Dict

In [ ]:
diction

{'DS001': 'PhD', 'DS002': 'Grad', 'DS003': 'Under Grad'}

In [ ]:
diction.keys() # it is not necessary the keys will always be in order

dict_keys(['DS001', 'DS002', 'DS003'])

In [ ]:
keys = list(diction.keys()) # give keys as a list as many operations are easy in list
keys

['DS001', 'DS002', 'DS003']

In [ ]:
diction.values()

dict_values(['PhD', 'Grad', 'Under Grad'])

In [ ]:
val = list(diction.values())
val

['PhD', 'Grad', 'Under Grad']

In [ ]:
diction.items() # keys and values will be togther in form of tuple

dict_items([('DS001', 'PhD'), ('DS002', 'Grad'), ('DS003', 'Under Grad')])

In [ ]:
diction['DS004'] = "Grad" # including key and values
diction

{'DS001': 'PhD', 'DS002': 'Grad', 'DS003': 'Under Grad', 'DS004': 'Grad'}

In [ ]:
diction.pop("DS002") # we must have to specify key to remove key and values

'Grad'

In [ ]:
diction

{'DS001': 'PhD', 'DS003': 'Under Grad', 'DS004': 'Grad'}

In [ ]:
# Get function retrieves values from keys
diction.get("DS004") # will not throw error if key is not present

'Grad'

In [ ]:
diction["DS005"]

KeyError: ignored

In [ ]:
del diction['DS001']
print(diction)

{'DS003': 'Under Grad', 'DS004': 'Grad'}